{% extends 'base.html.twig' %}

{% block title %}Modifier la recette{% endblock %}

{% block body %}
<h1>Modifier :  recipe.title </h1>

 form_start(form) 
     form_widget(form) 
    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
    <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="btn btn-secondary mt-3">Annuler</a>
 form_end(form) 
{% endblock %}