{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center mb-4">Inscription</h1>

         form_start(registrationForm) 
             form_row(registrationForm.email) 
             form_row(registrationForm.plainPassword.first) 
             form_row(registrationForm.plainPassword.second) 

            <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
         form_end(registrationForm) 

        <p class="text-center mt-3">
            Déjà un compte ? <a href=" path('app_login') ">Se connecter</a>
        </p>
    </div>
</div>
{% endblock %}