{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="text-center py-5">
    <h1 class="display-4">Bienvenue sur Mes Recettes</h1>
    <p class="lead">Découvrez et partagez vos recettes préférées</p>

    <a href="/recipes" class="btn btn-primary btn-lg">
        Voir les recettes
    </a>
</div>
{% endblock %}
